@model List<VNPT_TTS_PROJECT.Models.Place>
@{
    ViewBag.Title = "Index";
    ViewBag.ActiveHome = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        <!-- ***** Main Banner Area Start ***** -->
        <section id="section-1">
            <div class="content-slider">
                @for (int i = 1; i < (Model.Count > 4 ? 5 : Model.Count + 1); i++)
                {
                    var id = "banner"+i;
                    <input type="radio" id="@id" class="sec-1-input" name="banner" @Html.Raw(i == 1 ? "checked" : "")>
                }
                <div class="slider">
                    @{
                        int dem = 1;
                        foreach (var item in Model)
                        {
                            if (dem < (Model.Count > 4 ? 5 : Model.Count + 1))
                            {
                                <div id="top-banner-@dem" class="banner">
                                    <div class="banner-inner-wrapper header-text">
                                        <div class="main-caption">
                                            <h2>Cùng chiêm ngưỡng thoáng qua vẻ đẹp của:</h2>
                                            <h1>@item.title</h1>
                                            <div class="border-button"><a href="~/Home/About?idP=@item.idP">Go There</a></div>
                                        </div>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="more-info">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-sm-6 col-6">
                                                                <i class="fa fa-user"></i>
                                                                <h4><span>Phổ biến:</span><br>@item.followers Tr</h4>
                                                            </div>
                                                            <div class="col-lg-3 col-sm-6 col-6">
                                                                <i class="fa fa-globe"></i>
                                                                <h4><span>Diện tích:</span><br>@String.Format("{0:n0}", item.area) KM<em>2</em></h4>
                                                            </div>
                                                            <div class="col-lg-3 col-sm-6 col-6">
                                                                <i class="fa fa-home"></i>
                                                                <h4><span>Giá:</span><br>@String.Format("{0:n0}", item.price) đ</h4>
                                                            </div>
                                                            <div class="col-lg-3 col-sm-6 col-6">
                                                                <div class="main-button">
                                                                    <a href="~/Home/About?idP=@item.idP">Khám phá</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                break;
                            }
                            dem++;
                        }
                    }
                </div>
                <nav>
                    <div class="controls">
                        @for (int i = 1; i < (Model.Count > 4 ? 5 : Model.Count + 1); i++)
                        {
                            var id = "banner" + i;
                            <label for="@id"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">@i</span></label>
                        }
                    </div>
                </nav>
            </div>
            </section>
        <!-- ***** Main Banner Area End ***** -->

        <div class="visit-country">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="section-heading">
                            <h2>Cùng Tham Quan Một Số Địa Danh Nổi Tiếng</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="items">
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-lg-12">
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-5">
                                                    <div class="image">
                                                        <img src="~/Assets/@item.url" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-lg-8 col-sm-7">
                                                    <div class="right-content">
                                                        <h4>@item.title</h4>
                                                        <span>@item.Continent.name</span>
                                                        <div class="main-button">
                                                            <a href="~/Home/About?idP=@item.idP">Khám Phá</a>
                                                        </div>
                                                        <p>@Html.Raw(item.description)</p>
                                                        <ul class="info">
                                                            <li><i class="fa fa-user"></i> @item.followers Tr</li>
                                                            <li><i class="fa fa-globe"></i> @String.Format("{0:n0}", item.area) km2</li>
                                                            <li><i class="fa fa-home"></i> @String.Format("{0:n0}", item.price) <u>đ</u></li>
                                                        </ul>
                                                        <div class="text-button">
                                                            <a href="~/Home/About?idP=@item.idP">Thêm thông tin <i class="fa fa-arrow-right"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div class="col-lg-12">
                                    <ul class="page-numbers">
                                        <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
                                        <li><a href="#">1</a></li>
                                        <li class="active"><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="side-bar-map">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="map">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12469.776493332698!2d-80.14036379941481!3d25.907788681148624!2m3!1f357.26927939317244!2f20.870722720054623!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x88d9add4b4ac788f%3A0xe77469d09480fcdb!2sSunny%20Isles%20Beach!5e1!3m2!1sen!2sth!4v1642869952544!5m2!1sen!2sth" width="100%" height="550px" frameborder="0" style="border:0; border-radius: 23px; " allowfullscreen=""></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
@section Scripts{
    <script>
        function bannerSwitcher() {
            next = $('.sec-1-input').filter(':checked').next('.sec-1-input');
            if (next.length) next.prop('checked', true);
            else $('.sec-1-input').first().prop('checked', true);
        }

        var bannerTimer = setInterval(bannerSwitcher, 5000);

        $('nav .controls label').click(function () {
            clearInterval(bannerTimer);
            bannerTimer = setInterval(bannerSwitcher, 5000)
        });
    </script>
}
